vim/bundle/*
!vim/bundle/vundle
vim/view
ssh/authorized_keys
ssh/environment
ssh/known_hosts
ssh/id*
.*.swp
.sw*
*.zwc
*.zwc.old
settings/.dirs
data/namaz
data/history
data/weather
data/dirs
bin/cube_beautifier
bin/gcalcli
mutt/passwords.gpg
mutt/aliases
vim/view
tmux/plugins/tmux-*
tmux/sidebar
