[submodule "external/hist-search"]
	path = external/hist-search
	url = git@github.com:zsh-users/zsh-history-substring-search.git
[submodule "external/syntax"]
	path = external/syntax
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "external/completion"]
	path = external/completion
	url = git@github.com:zsh-users/zsh-completions.git
[submodule "external/opp"]
	path = external/opp
	url = https://github.com/hchbaw/opp.zsh.git
[submodule "gplt/palettes"]
	path = gplt/palettes
	url = https://github.com/Gnuplotting/gnuplot-palettes
