[submodule "zprezto/modules/history-substring-search/external"]
	path = zprezto/modules/history-substring-search/external
	url = git@github.com:zsh-users/zsh-history-substring-search.git
[submodule "zprezto/modules/syntax-highlighting/external"]
	path = zprezto/modules/syntax-highlighting/external
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "external/completion"]
	path = external/completion
	url = git@github.com:zsh-users/zsh-completions.git
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = git@github.com:gmarik/Vundle.vim.git
