vim/bundle/*
!vim/bundle/vundle
ssh/authorized_keys
ssh/environment
ssh/known_hosts
ssh/id*
.*.swp
.sw*
*.zwc
*.zwc.old
settings/.dirs
data/namaz
data/history
data/weather
data/dirs
bin/cube_beautifier
mutt/passwords.gpg
